extends ../includes/wrapper.pug

block variables
  - var title = "Josh RosenHanst - Web Development and Design"
  - var description = "Josh RosenHanst is a web developer and designer with more than 10 years of experience in front-end and back-end software development."
  - var url = "https://joshrosenhanst.com/"
  - var showResume = false
  - 
    var banner = {
      src: "https://joshrosenhanst.com/assets/img/site-banner.png",
      type: "image/png",
      width: "1200",
      height: "630",
      alt: title
    }

block header
  header#site-header
    h1 Josh RosenHanst
    h2 Web Development and Design

    .header-links
      if showResume
        a.header-link(href="./assets/Joshua%20RosenHanst%20-%20Resume.pdf") Resume
      a.header-link(href="mailto:contact@joshrosenhanst.com") Contact

block content
  section#about-me.site-section
    h1: span.header-text About Me

    p Hi there! I'm a web developer and designer with more than 10 years of experience in front-end and back-end software development.

    p I'm interested in using web technologies to their fullest to create functional and well designed websites, which also conform to modern standards and best practices.

  section#projects-intro.site-section
    h1: span.header-text Development Projects

    p These are personal projects I have created to learn new technologies and frameworks. Each project has an article detailing the project's development, including the technology, design, and other considerations.

  //- GroupCalendar
  article#groupcalendar.project-summary
    h2.with-logo
      a.header-text(href="./groupcalendar.html") GroupCalendar
      +icon("groupcalendar_bg", ["header-text-logo", "groupcalendar-logo"])

    figure.project-thumbnail.align-right
      a(href="./groupcalendar.html")
        img(src="./assets/img/groupcalendar/banner.png", alt="GroupCalendar home page screenshot - banner with turquoise background, app slogan ('Plan and collaborate on events with your group'), app sample image on tablet device, Try Demo button")

    p GroupCalendar is a Laravel web app that helps you organize friends and colleagues into private groups so that you can plan upcoming events together.

    p The GroupCalendar website is designed to make creating and collaborating on group events easy and intuitive.

    p <strong>Technologies:</strong> Laravel, Vue.js, MySQL, PHP, HTML5, CSS3

    p.read_more <a href="./groupcalendar.html">Read more about the development of GroupCalendar.</a>

    .project-links
      a.project-link.groupcalendar-link(href="./groupcalendar/")
        +icon("groupcalendar_bg", "button_icon")
        span.button_text View Website
      a.project-link.article-link(href="./groupcalendar.html") Project Details
      a.project-link.github-link(
        href="https://github.com/joshrosenhanst/Group-Calendar"
        target="_blank" 
        rel="noopener noreferrer"
      )
        +icon("github", "button_icon")
        span.button_text Source Code

  //- Local Favorites
  article#local-favorites.project-summary

    h2.with-logo
      a.header-text(href="./local-favorites.html") Local Favorites
      +icon("local favorites", ["header-text-logo", "local-favorites-logo"])
      
    figure.project-thumbnail.align-right
      a(href="./local-favorites.html")
        img(src="./assets/img/local-favorites/local-favorites-main.png", alt="Local Favorites app screenshot - Header with logo and slogan, Body with Google Map showing selected result pin (United Nations Headquarters) and Sidebar with list of map results")

    p Local Favorites is a Vue.js web app which lets you save and review your favorite local places, using the Google Maps JavaScript API.

    p The app features an interactive map of your local area and a list of nearby points of interest (stores, restaurants, parks, etc).

    p <strong>Technologies:</strong> Vue.js, Google Maps API, HTML5, CSS3

    p.read_more <a href="./local-favorites.html">Read more about the development of Local Favorites.</a>

    .project-links
      a.project-link.local-favorites-link(href="./local-favorites/")
        +icon("local favorites", "button_icon")
        span.button_text View Website
      a.project-link.article-link(href="./local-favorites.html") Project Details
      a.project-link.github-link(
        href="https://github.com/joshrosenhanst/local-favorites"
        target="_blank" 
        rel="noopener noreferrer"
      )
        +icon("github", "button_icon")
        span.button_text Source Code

  //- My Watchlist
  article#my-watchlist.project-summary
    h2.with-logo
      a.header-text(href="./my-watchlist.html") My Watchlist
      +icon("my watchlist", ["header-text-logo", "my-watchlist-logo"])

    figure.project-thumbnail.align-right
      a(href="./my-watchlist.html")
        img(src="./assets/img/my-watchlist/my-watchlist-main.png", alt="My Watchlist app sample screenshot - Header includes logo, slogan, and search bar. Body shows Up Next section with 6 items. Each item includes movie poster artwork and Watched/Remove buttons")

    p My Watchlist is a React.js web app that can help you track a watchlist of movies and TV shows, as well as the movies and shows you've already seen.

    p My Watchlist connects to the Open Movie Database to find details on movies, shows, and more.

    p <strong>Technologies:</strong> React.js, OMDb API, Bulma, HTML5, CSS3

    p.read_more <a href="./my-watchlist.html">Read more about the development of My Watchlist.</a>

    .project-links
      a.project-link.my-watchlist-link(href="./watchlist/")
        +icon("my watchlist", "button_icon")
        span.button_text View Website
      a.project-link.article-link(href="./my-watchlist.html") Project Details
      a.project-link.github-link(
        href="https://github.com/joshrosenhanst/my-watchlist"
        target="_blank" 
        rel="noopener noreferrer"
      )
        +icon("github", "button_icon")
        span.button_text Source Code

  //- LitBit
  article#litbit.project-summary
    h2.with-logo
      a.header-text(href="./litbit.html") LitBit
      +icon("litbit", ["header-text-logo", "litbit-logo"])
      
    figure.project-thumbnail.align-right
      a(href="./litbit.html")
        img(src="./assets/img/litbit/litbit-front.png", alt="LitBit website screenshot - Shows the header logo and slogan, as well as a cropped list of available book titles and authors")

    p The LitBit website generates small poems using random lines of text from classic literature.

    p LitBit also features an internal tool to easily import new books for the website to use.

    p <strong>Technologies:</strong> Flask, Python, HTML5, CSS3

    p.read_more <a href="./litbit.html">Read more about the development of LitBit.</a>

    .project-links
      a.project-link.litbit-link(href="./litbit/")
        +icon("litbit", "button_icon")
        span.button_text View Website
      a.project-link.article-link(href="./litbit.html") Project Details
      a.project-link.github-link(
        href="https://github.com/joshrosenhanst/litbit"
        target="_blank" 
        rel="noopener noreferrer"
      )
        +icon("github", "button_icon")
        span.button_text Source Code

  //- TwitchRandom
  article#twitchrandom.project-summary
    h2.with-logo
      a.header-text(href="./twitchrandom.html") TwitchRandom
      +icon("twitchrandom", ["header-text-logo", "twitchrandom-logo"])
      
    figure.project-thumbnail.align-right
      a(href="./twitchrandom.html")
        img(src="./assets/img/twitchrandom/twitchrandom-front.jpg", alt="TwitchRandom website screenshot - Cropped image shows the website's header menu, main banner with Twitch stream video and details, and Featured Streams section with thumbnails and a square ad")

    p TwitchRandom is a project that finds random video game streams to watch, using the Twitch.tv API.

    p Because the streams are completely random, you can find new games and broadcasters that aren't as well known.

    p <strong>Technologies:</strong> Laravel, Twitch.tv API, jQuery, Bootstrap, PHP, HTML5, CSS3

    p.read_more <a href="./twitchrandom.html">Read more about the development of TwitchRandom.</a>

    .project-links
      a.project-link.twitchrandom-link(href="https://twitchrandom.com")
        +icon("twitchrandom", "button_icon")
        span.button_text View Website
      a.project-link.article-link(href="./twitchrandom.html") Project Details
      a.project-link.github-link(
        href="https://github.com/joshrosenhanst/twitchrandom"
        target="_blank" 
        rel="noopener noreferrer"
      )
        +icon("github", "button_icon")
        span.button_text Source Code

  //- Dota 2 Layout
  article#dota2layout.project-summary
    h2.with-logo
      a.header-text(href="./dota2layout.html") Dota 2 Layout
      +icon("dota2layout", ["header-text-logo", "dota2layout-logo"])

    figure.project-thumbnail.align-right
      a(href="./dota2layout.html")
        img(src="./assets/img/dota2layout/dota2layout-front.jpg", alt="Dota 2 Layout website screenshot - Cropped image of the editor home page, including a header menu, main editor body with hero images in a grid, and editor controls")
      figcaption The Dota 2 logo and other materials are the property of the Valve Corporation.

    p Dota 2 Layout is an online editor for creating premade layouts in the character selection interface that was in the Dota 2 video game.

    p Using the editor a player could create a custom layout and then import the layout into the Dota 2 game.

    p <strong>Technologies:</strong> jQuery, WordPress, PHP, HTML5, CSS3

    p.read_more <a href="./dota2layout.html">Read more about the development of Dota 2 Layout.</a>

    .project-links
      a.project-link.dota2layout-link(href="http://dota2layout.com")
        +icon("dota2layout", "button_icon")
        span.button_text View Website
      a.project-link.article-link(href="./dota2layout.html") Project Details
